@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-color: $bgPrimary;
  color: $darkGrey;
  font-family: 'Sora', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h3 {
  font-size: 1.125rem;
  font-weight: 400;
  text-shadow: 0 2px 5px rgba($primary, 0.15);
  text-transform: lowercase;
}