@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-color: $bgPrimary;
  color: $darkGrey;
  display: flex;
  flex-direction: column;
  font-family: 'Apercu', sans-serif;
  font-weight: 300;
  min-height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



ul {
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}