@import './variables';

@keyframes blink {
  50% {
    opacity: 0;
  }
};

@keyframes slide-up {
  0% {
    transform: translateY(-100%);
  } 100% {
    transform: translateY(-5%);
  }
};

header {
  background-color: #fff;
  font-size: 0.875rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  div {
    @extend %space-between;
    @extend %tight;
    background-color: $bgPrimary;
    padding: 1.25rem;

    em,
    span {
      font-family: 'Inter', sans-serif;
    }

    span.blink {
      animation: blink 900ms cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
      color: $primary;
      font-size: 1rem;
      margin: 0 -0.125rem;
    }
  }
}

.hero {
  padding: 5rem 1.25rem 0rem;

  h1,
  h2 {
    @extend %tight;
    display: flex;
    font-family: Jellee, sans-serif;
    font-size: 13vw; // 7.25vw for big screens
    text-shadow: 0 2px 5px rgba($primary, 0.15);
    text-transform: uppercase;
  }

  h2 {
    justify-content: flex-end;
    padding: 1.5rem 0 0;
    text-align: right
  } 
}

.about {
  padding: 8vh 1.25rem;
  width: 85%;
  
  b {
    color: $primary;
    font-weight: 500;
  }

  p {
    color: $lightGrey;
    font-weight: 300;
    letter-spacing: -0.5px;
    line-height: 1.25;
    padding: 0 0 1.125rem;
    text-transform: lowercase;

    &:last-child {
      span {
        white-space: nowrap;
      }
    }
  }
}

.works {
  padding: 0 1.25rem 8vh;

  .project {
    list-style: none;
    padding: 2.5rem 0 1rem;
    position: relative;

    &::after {
      bottom: 0;
      content: "";
      background: $lightGrey;
      height: 0.0625rem;
      left: 0;
      position: absolute;
      transition: 200ms ease-in;
      width: 100%;
    }

    &__title {
      font-size: 1.275rem;
      font-weight: 500;
      padding: 0 0 0.5rem;
    }    

    &__desc {
      @extend %space-between;

      p {          
        color: $lightGrey;
        font-size: 0.875rem;
        text-transform: lowercase;

        &:last-child {
          color: rgba($primary, 0.675);
        }
      }
    }

    &__btn {
      a {
        align-items: center;
        color: $primary;
        display: flex;
        font-size: 1.5rem;
        font-weight: 500;
        height: 100%;
      }
    }
  }
}

.contact {
  padding: 0 1.5rem 8vh;

  h3 {
    padding: 1.125rem 0 0;
  }

  p {
    padding: 2.5rem 0 1rem;
    font-size: 1.275rem;
    font-weight: 500;
  }
}

@media (min-width: 410px) {
  .about {    
    p:last-child {
      span {
        white-space: normal;
      }
    }
  }
}