@import './variables';

@keyframes blink {
  50% {
    opacity: 0;
  }
};

@keyframes slide-up {
  0% {
    transform: translateY(-100%);
  } 100% {
    transform: translateY(-5%);
  }
};

header {
  background-color: white;
  font-size: 0.875rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;

  div {
    @extend %space-between;
    @extend %tight;
    background-color: $bgPrimary;
    padding: 1.25rem;
    width: 100%;
  }

  span.blink {
    animation: blink 900ms cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
    color: $primary;
    margin: 0 -0.125rem;
  }
}

.hero {
  padding: 5rem 1.25rem 0rem;
  position: relative;

  h1,
  h2 {
    @extend %tight;
    display: flex;
    font-family: Jellee;
    font-size: 13vw; // 7.25vw for big screens
    text-shadow: 0 2px 5px rgba($primary, 0.15);
    text-transform: uppercase;
  }

  div {
    position: relative;

   .scroll {
      bottom: 0.5rem;
      display: flex;
      flex-direction: column;
      font-size: 5vw;
      height: 7.5vw;
      overflow: hidden;
      position: absolute;

      span {
        animation: slide-up 1500ms cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
        color: $primary;

        &:nth-child(2) {
          padding: 1.5rem 0 0;
        }
      }
    }
  }

  h2 {
    justify-content: flex-end;
    padding: 1.5rem 0 0;
    text-align: right
  } 
}

.about {
  padding: 7.5vh 1.25rem;
  width: 87.5%;
  
  p {
    padding: 0 0 1.125rem;
    text-transform: lowercase;
  }

  b {
    color: $primary;
    font-weight: 500;
  }
}

.works {
  padding: 0 1.25rem;

  h3 {
    font-weight: 500;
    // padding: 0 0 1.5rem;
    text-transform: lowercase;
  }

  .project {
    margin: 1.25rem 0 0;
    // padding: 0.25rem 0;
    // border: 1px solid red;

    &__title {
      @extend %space-between;
      align-items: center;
      font-size: 1.125rem;
      text-transform: uppercase;
      // padding: 0 0 0.5rem;

      a {
        border: 1px solid $darkGrey;
        border-radius: 0.25rem;
        font-size: 0.875rem;
        font-weight: 500;
        padding: 0.25rem;
      }
    }

    &__desc {
      color: $lightGrey;
      display: none;
      padding: 0.25rem 0 0;
      text-transform: lowercase;
    }
  }
}

.contact {
  padding: 7.5vh 1.5rem 15vh;

  li {
    padding: 2rem 0 0;
    overflow: hidden;

    .contact-link {        
      @extend %space-between;
      font-size: 6vw;
      font-weight: 500;
      margin: 0 0 1rem;
      position: relative;
      text-shadow: 0 1px 2px rgba($primary, 0.15);

      div {
        @extend %space-between;
        // border: 1px solid red;
        overflow: hidden;
        position: relative;
        width: 100%
      }

      .text {
        // border: 1px solid red;
        display: none;
        // @extend %space-between;
        line-height: 1;
        overflow: hidden;
        position: absolute;
        transform: translateY(100%);
        transition: 250ms ease;
        width: 100%;
      }

      &::after {
        transition: 200ms ease-in;
        bottom: -1rem;
        content: "";
        background: $lightGrey;
        height: 0.125rem;
        left: 0;
        position: absolute;
        width: 100%;
      }

      &:hover {
        // &::after {
        //   left: 100%;
        //   width: 0;
        // }

        .text {
          &--two{
            top: -100%;
          }
        }
      }

      &__symbol {
        padding: 0 0.5rem;
      }
    }
  }
}